/* Set custom fonts */

@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700&subset=latin,cyrillic);

.ng-presentation * {
    font-family: 'Exo 2', sans-serif;
}

/* Set icon fonts */

@font-face {
    font-family: 'ngPresentation';
    src: url('../font/ngPresentation.eot?46774664');
    src: url('../font/ngPresentation.eot?46774664#iefix') format('embedded-opentype'),
    url('../font/ngPresentation.woff?46774664') format('woff'),
    url('../font/ngPresentation.ttf?46774664') format('truetype'),
    url('../font/ngPresentation.svg?46774664#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ng-presentation-icon-"]:before, [class*=" ng-presentation-icon-"]:before {
    display: inline-block;

    font-family: 'ngPresentation';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    speak: none;
}

.ng-presentation-icon-resize-full:before { content: '\e800'; } /* '' */
.ng-presentation-icon-play:before { content: '\e801'; } /* '' */
.ng-presentation-icon-left-big:before { content: '\e802'; } /* '' */
.ng-presentation-icon-pause:before { content: '\e803'; } /* '' */
.ng-presentation-icon-right-big:before { content: '\e804'; } /* '' */
.ng-presentation-icon-resize-small:before { content: '\e805'; } /* '' */

/* Root element - presentation container */

.ng-presentation {
    position: relative;

    width: 800px;
    height: 600px;
    margin: auto;
}

/* Webkit full screen mode fix */

:-webkit-full-screen .ng-presentation {
    width: 100%;
    height: 100%;
}

/* Slide */

.ng-presentation-slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    text-align: center;
    color: #fff;
    background: #e74c3c;
    overflow: auto;
}

.ng-presentation-slide:after,
.ng-presentation-slide-content {
    display: inline-block;
    vertical-align: middle;
}

.ng-presentation-slide:after {
    content: '';
    height: 100%;
    margin-left: -0.25em; /* To offset spacing. May vary by font */
}

/* Content */

.ng-presentation-slide-content {
    max-width: 80%; /* Prevents issues with long content causes the content block to be pushed to the top */
    /* max-width: calc(100% - 0.25em) /* Only for IE9+ */
}

.ng-presentation-slide-content-title  {
    margin: 0 0 40px 0;
    font-size: 50px;
}

.ng-presentation-slide-content-html {
    font-size: 30px;
}

/* Controls */

[class^="ng-presentation-ctrls-"] {
    position: absolute;

    width: 32px;
    height: 32px;

    text-align: center;
    line-height: 32px;
    outline: 0;
    opacity: 0.1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
    background: #000;
    background-clip: padding-box;
}

.ng-presentation-ctrls a {
    cursor: pointer;
}

.ng-presentation-ctrls:hover [class^="ng-presentation-ctrls-"] {
    opacity: 0.3;
}

.ng-presentation-ctrls-next {
    bottom: 5px;
    right: 5px;
}
.ng-presentation-ctrls-next {
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.ng-presentation-ctrls-play {
    bottom: 5px;
    right: 37px;
}
.ng-presentation-ctrls-play {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ng-presentation-ctrls-prev {
    bottom: 5px;
    right: 69px;
}
.ng-presentation-ctrls-prev {
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.ng-presentation-ctrls-fullscreen {
    top: 5px;
    left: 5px;
}

.ng-presentation-ctrls-number {
    bottom: 5px;
    left: 5px;
}
