<div class="ng-presentation">
    <div class="ng-presentation-slide" ng-repeat="slide in slides"
         ng-show="slide.visible" ng-class="slide.class" ng-style="slide.style">
        <div class="ng-presentation-slide-content">
            <h2>{{slide.title}}</h2>
            <div ng-bind-html="slide.content"></div>
        </div>
    </div>
    <div class="ng-presentation-ctrls">
        <a class="ng-presentation-ctrls-fullscreen" href="#" ng-click="fullscreen()"><i class="{{isFullscreen ? 'ng-presentation-icon-resize-small': 'ng-presentation-icon-resize-full'}}"></i></a>
        <a class="ng-presentation-ctrls-prev" href="#" ng-click="prev()"><i class="ng-presentation-icon-left-big"></i></a>
        <a class="ng-presentation-ctrls-play" href="#" ng-click="play()"><i class="{{isPaused ? 'ng-presentation-icon-play' : 'ng-presentation-icon-pause'}}"></i></a>
        <a class="ng-presentation-ctrls-next" href="#" ng-click="next()"><i class="ng-presentation-icon-right-big"></i></a>
    </div>
</div>